.h-page {
  background: green;
  padding: $spacing 0;

  h1 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8em;
  }

  .main-nav {

    ul {

      a {
        display: block;
        white-space: nowrap;
        padding: 5px 20px;
        color: #ffffff;
        font-size: 1.3em;
        border: 1px solid #ffffff;

        &:hover {
          transition: 0.5s ease;
          background: #777;
        }
      }
    }
  }

  .main-nav > ul > li {
    padding-right: 10px;
  }
}

#menu {
  display: none;
}

#menu.mobile-down {
  display: block;
}

@media screen and (min-width: 1100px) {
  .h-page {

    .nav-btn {
      display: none;
    }

    .main-nav {
      overflow:hidden;
      position:relative;

      ul {
        clear:left;
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        position:relative;
        left:50%;
        text-align:center;

        li {
          float: left;
        }

        a {
          border-radius: 20px;
        }
      }
    }
    .main-nav > ul > li {
      position:relative;
      right:50%;
    }
  }

  #menu {
    display: block;
  }
}
