.tool {

  p {
    margin: 20px 0;
  }
}


form {

  ul {
    li {
      display: inline-block;
    }
  }
}
/* Some basic styling to notify users about the tooltips*/

.tooltipp:hover {
  position: relative;
}

.tooltipp-top[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 10px;
  padding: 4px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background: #ffffff;
  white-space: nowrap;
  z-index: 2;
}